body {
    font-family: Arial;
    background-color: #286584;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 175px auto 175px;
    grid-template-rows: 4.5rem auto;
    grid-template-areas:
      'HD HD HD'
      'IL CN BF'
    ;
}

header {
    grid-area: HD;
    padding: 1.5rem;
    background-color: #002538;
}

.header {
    padding: 0 1rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header__title {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.header__list {
    display: flex;

}

.header__list__iten__link {
    color: white;
    text-decoration: none;
    padding: 1rem;
}

.header__list__iten__link:hover {
    background-color: #0F0F0F;
}

.itens {
    grid-area: IL;
    max-height: 100%;
    padding: 1rem;
    background-color: #183e51;
    overflow-y: scroll;
    scrollbar-width: none;
    color: white;
}

.itens__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.itens::-webkit-scrollbar {
    display: none;
}

.itens__list__iten {
    padding: 1rem 0;
}

.itens__list__iten__desc {
    align-items: center;
}

.itens__list__iten__desc * {
    margin-bottom: .5rem;
}

.itens__list__iten__nome {
    text-align: center;
    font-size: 14pt;
    margin: 1rem 0;
}

.itens__list__iten__quantidade {

}

.itens__list__iten__preco {
}

.itens__list__iten__renda {

}

.btn_comprar {
    margin: 1.5rem;
    width: fit-content;
    padding: .5rem;
    font-size: 1rem;
    color: white;
    background-color: #ff9528;
    border-radius: 5px;

}

.itens__list__iten__picture img {
    width: 100%;
}

.content {
    grid-area: CN;
}

.buffs {
    grid-area: BF;
    max-height: 100%;
    padding: 1rem;
    background-color: #183e51;
    overflow-y: scroll;
    scrollbar-width: none;
    color: white;

}