body {
  font-family: Arial;
}

h1 {
  background-color: black;
  color: white
}

.BarraDaEsquerda {
  border: 3px solid black;
  margin: auto;
  width: 75%;
  padding: 10px;
}

.BarraDaDireita {
  border: 3px solid black;
  margin: auto;
  width: 75%;
  padding: 10px;
}

.lista li {
  margin: auto auto;
  padding: 5px
}

.lista button {
}

.lista{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.lista li {
  padding: .5rem;
}

.lista li * {
  padding: .2rem 0;
}

.dinheirinho {
  text-align: center;
  margin: auto;
  width: 55%;
  padding: 10px;
}

.preco {
  font-size: 15px;
}

.DouglasVideo {
  display: none;
}

#DouglasVideo2 {
  position: relative;
  left: 250px;
}
